*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(238, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 700px;
    max-width: 700px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.container h1{
    text-align: center;
    font-family: sans-serif;
    font-weight:800;
}
.text-area{
    width: 100%;
    height: 200px;
    position: relative;
}
textarea{
    width: 100%;
    max-width: 700px;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px 0;
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="color"]{
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#add{
    position: absolute;
    bottom: -66px;
    right: 0px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background: rgb(11, 182, 11);
    font-weight: bold;
}
#color{
    position: absolute;
    bottom: -55px;
    left: 95px;
}
label{
    position: absolute;
    bottom: -50px;
    left: 7px;
}
#size{
    position: absolute;
    bottom: -50px;
    left: 180px;
    width: 50px;
}
#sizelabel{
    position: absolute;
    bottom: -50px;
    left: 140px;
}
.notes{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.box{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 10px;
    margin: 1px 0;
    position: relative;
    height: auto;
    animation: scale 0.4s;
}
@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.box p{
    font-size: 17px;
    font-family: sans-serif;
}
.notes button{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

/* part for add */

#categorylabel{
    position: absolute;
    bottom: -50px;
    left: 250px;
}
#category{
    position: absolute;
    bottom: -50px;
    left: 320px;
    width: 150px;
}
#addCategory{
    height: 15%;
    width: 108%;
    position: relative;
    border-style: hidden;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}
#buttonAddCategory{
    position: absolute;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: white;
    background: rgb(11, 182, 11);
    font-weight: bold;
    margin-top: 10px;
    right: 45%;
    top: 15%;
}



/* part for edit */

.box{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 10px;
    margin: 0px 0;
    position: relative;
    height: auto;
    animation: scale 0.4s;
}
@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.box p{
    font-size: 17px;
    font-family: sans-serif;
    margin-right: 250px;
}
.notes button{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

 .note{
    width: 100%;
    height:fit-content;
    margin-top: 15px;
    background: rgb(63, 187, 22);
} 


.grid { 
    display: grid;
    grid-template-rows: 7rem 7rem;
    grid-template-areas:
    "s3"
    "s4";
}

.s3 { 
    grid-area: s3;
    background-color: #0030FF;
}
.s4 {
    grid-area: s4;
    background-color: #FF00E4;
}

#button-edit {
    position: inherit;
    width: 80px;
    padding: 5px;
    margin: 5px 0px 40px;
    background-color: #ff7e00;
    outline: none;
    border: 1px solid #ff7e00;
    box-shadow: 2px 2px 2px #3f3f3f;
  }

  #button-save-edit {
    position: inherit;
    width: 80px;
    padding: 5px;
    margin: 5px 0px 40px;
    background-color: #22cb0f;
    outline: none;
    border: 1px solid #22cb0f;
    box-shadow: 2px 2px 2px #3f3f3f;
    
    display:none;
    margin-left: 10px;
  }


  #category-on-box {
    position: absolute;
    left: 66%;
    bottom: 30%;
    width: 150px;
    display: none;
}

#delete-note {
    position: inherit;
    width: 83px;
    padding: 5px;
    margin: 5px 10px 0px;
    background-color: #ec5151;
    outline: none;
    border: 1px solid #ff7e00;
    box-shadow: 2px 2px 2px #3f3f3f;
}

#cancel-edit-note {
    position: inherit;
    width: 80px;
    padding: 5px;
    margin: 5px 0px 40px;
    background-color: #073ae2;
    outline: none;
    border: 1px solid #3d7ce3;
    box-shadow: 2px 2px 2px #3f3f3f;
    
    display:none;
    margin-left: 10px;
}


#delete_category_button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    display: none;
}


.fcc-btn {
    background-color: #185cb6;
    color: white;
    padding: 8px 22px;
    text-decoration: none;
    width: 83px;
    margin-left: 607px;
    border-radius: 29px;
    cursor: pointer;
    font-size: 16px;
}

.fcc-btn:hover {
    background-color: #22942c;
}